# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.cpp.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# Data
*.pcap
*.lp
*.ilp
*.bk
*.csv

# Log
log/**
*.log
*.txt
*.INFO
*.ERROR

# Directories
tmp/**
backup/**
build/**
log/
log*/
topologyDataSet/
SFC_info/
/sam/base/topoGen/instance/topology/
backup/
solution/*
solution*/
instance/*
.pytest_cache/
__pycache__/
samSimulation/
sam/base/rabbitMQConf.json
results/
results*/
.idea

# Backup Files
*~
*.temp
~$*
*.tmp

# Doc
*.mp4
*.docx

# Test-related
*_init_TEST

# Others
.DS_Store
