<!DOCTYPE html>
<html>
{% load staticfiles %}
<link href="{%static "css/adstyle.css" %}" rel="stylesheet" type="text/css" />
<link href="{%static "css/userstyle.css" %}" rel="stylesheet" type="text/css" />
{% include "header.html" %}
{% include 'menu.html' %}
<style>
.button.icon:before {
    content: "";
    position: relative;
    top: 1px;
    float:left;
    width: 12px;
    height: 12px;
    margin: 0 0.75em 0 -0.25em;
    background: url("{% static "img/gh-icons.png" %}") 0 99px no-repeat;
}
</style>
<body>
<div class="home">
    <div class="home_right">
        <div class="homepage">
            <div class="ptbt"><a>运维平台</a></div>
            <div class="pagename"><a>Routing Morphic列表</a></div>
            <div class="dangqianweizhi"><a>首页 > 权限系统 > RoutingMorphic管理</a></div>
        </div>
        
        <div class="user_hr">
        </div>
        <div class="user_list">
            <div class="user_list_ls">
                <table class="table table-striped table-bordered table-hover" table-layout=fixed; width=100%; align="center">
                    <thead>
                    <tr>
                        <th>Routing Morphic</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    {% for line in displayedRoutingMorphicsList %}
                        <tr>
                            <td>
                                {{ line.name }}
                            </td>
                           
                            
                            
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="drpage">
                    {% if numDict.hasPreviousPage %}
                        <a href="?page=1" class='fy'>首页</a>&nbsp;
                        <a href="?page={{ numDict.previousPageNum }}" class='fy'>上一页</a>&nbsp;
                    {% endif %}
                    {% for p in pageRange %}
                    {% ifequal p pageNum %}
                        <span class="fy">{{p}}</span>
                    {% else %}
                        <a href="?page={{p}}" class="fy" style="te;margin: 3px">{{p}}</a>
                    {% endifequal %}
                    {% endfor %}
                    {% if numDict.hasNextPage %}
                        <a href="?page={{ numDict.nextPageNum }}" class='fy'>下一页</a>&nbsp;
                        <a href="?page={{ totalPageNum }}" class='fy'>尾页</a>
                    {% endif %}
                       
                        <a>[第{{ PageNum }}/{{ totalPageNum }}页]</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>